*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body {
height: 100%;
width: 100%;
}

body,#contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    /* color: white; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#contain{
    padding: 20px;
    border-radius: 50px;
}

h1{
    font-size: 80px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 30px;
}

button{
    background-color: rgb(197, 197, 197);
    border: none;
    padding: 10px 50px;
    font-size: 20px;
    letter-spacing: 1.1;
    font-weight: 600;
    border-radius: 50px;
}
button:active{
    scale: 0.95;
}